*{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: teal;
   

    }
    .conteudo{
        background-color: beige;
        margin: 1rem;
        border: solid 2px black;
        padding: 2rem;
        height: auto;
    }
img{
    height: 250px;
    width: 250px;
}
